<% provide(:title, @current_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @current_user %>
        <%= @current_user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="col-md-3">
    <h2>Actions</h2>

    <%= link_to "Reset Password", current_user%>
  </div>
</div>