<h1>HOME PAGE</h1>

<div class="col-md-8 col-md-push-2">
  <div class="js-errors"></div>
  <h2>Current Listings</h2>
  <div class="js-listings-area">

  </div>
</div>


<script>

  $(function() {
    var auth = getCookie("auth");
    var user_id = getCookie("id");
    $.ajax({
      url: '/activelistings',
      type: "GET",
      dataType: "json",
      data: {auth_token: auth, user_id: user_id},
      success: function(data){
        listings = data;
        var ids = [];
        for(i = 0; i < listings.length; i++){
          var price = parseInt(listings[i].price);
          ids.push(parseInt(listings[i].id));
          price = price.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
          $(".js-listings-area").append("<div class='well'><div class='media'>" +
                "<div class='pull-left'>" +
                  "<img class='media-object limit-size' src='" + listings[i].imageurl + "'/>" +
                "</div>" +
                "<div class='media-body'>" +
                  "<h3 class='media-heading'>" + listings[i].title +" (" + listings[i].category + ")</h3>" +
                  "" + listings[i].description +
                  "<br>$" + price +
                  "<div class='js-item-actions' id='" + parseInt(listings[i].id) + "'>" +
                    "" +
                  "</div>" +
                "</div>" +
              "</div></div>")
          if(user_id == parseInt(listings[i].user_id)){
            $("#"+parseInt(listings[i].id)).append("<button class='btn btn-danger' onclick='deleteitem(" + parseInt(listings[i].id) + ")'>Delete item </button>")
          }
          else if(getCookie('auth') != '' && getCookie('id') != ''){
            $("#"+parseInt(listings[i].id)).append("<button class='btn btn-success' onclick='purchaseitem(" + parseInt(listings[i].id) + ", \"paypal\")'>Purchase item with Paypal</button>&nbsp;" +
                "<button class='btn btn-success' onclick='purchaseitem(" + parseInt(listings[i].id ) + "), \"visa\"'>Purchase item with Visa</button>&nbsp;" +
                "<button class='btn btn-success' onclick='purchaseitem(" + parseInt(listings[i].id) + ",\"mastercard\")'>Purchase item with Mastercard</button>"
                )
          }
        }
      }
    });

  });

  function deleteitem(id){
    $.ajax({
      type: "DELETE",
      url: "/listings/"+id,
      data: {auth_token: getCookie('auth'), user_id:getCookie('id')},
      dataType: "json",
      success: function(responseData, textStatus, jqXHR) {
        if(responseData.status == 200){
          window.location = '/'
        }
        else{
          $(".js-errors").append("<div class='alert alert-danger' role='alert'>" + responseData.message + '</div>');
        }

      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(errorThrown);
      }
    })
  };
  function purchaseitem(id, paymentType){
    console.log(paymentType);
    d = {auth_token: getCookie('auth'), user_id:getCookie('id'), payment_type: paymentType};
    console.log(d)
    $.ajax({
      type: "PUT",
      url: "/listings/"+id,
      data: d,
      dataType: "json",
      success: function(responseData, textStatus, jqXHR) {
        if(responseData.status == 200){
          window.location = '/'
        }
        else{
          $(".js-errors").append("<div class='alert alert-danger' role='alert'>" + responseData.message + '</div>');
        }

      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(errorThrown);
      }
    })
  };
</script>